## Exercise 1: Write a function to sort the list based on the first letter of the second element

lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

In [18]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\elcot\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\elcot\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\elcot\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\elcot\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\elcot\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [21]:
import pandas as pd
import numpy as np

In [22]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

In [33]:
lst.sort(key=lambda a : a[1])
print(lst)

[(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

## Exercise 2:  Write a function to sort the list based on the last letter of the second element

Use list from previous question

In [40]:
lst.sort(key=lambda a : a[-1])
print(lst)

[(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

## Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

In [47]:
lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

In [51]:
lst2 = [*range(1, 9, 1)]

In [52]:
lst2

[1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
lst3 = list(map(lambda a,b: (a,b),lst1,lst2))

In [54]:
lst3

[('Energy', 1),
 ('Agriculture', 2),
 ('Industry', 3),
 ('Technology', 4),
 ('Finance', 5),
 ('Forestry', 6),
 ('Transport', 7)]

## Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's).

lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]

In [55]:
lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
lst2 = ["a"]

In [56]:
hal = [i for i in lst1 for j in i if j in lst2 ]

In [57]:
hal

['Antartica',
 'Antartica',
 'America',
 'Armania',
 'Armania',
 'Australia',
 'Australia',
 'Albania',
 'Albania',
 'Afganistan',
 'Afganistan',
 'Alaska',
 'Alaska']

## Exercise 5: Write a function filter all the vowels in a given string using filter.

str1="Inceptz is one of the best institutes to read data science in chennai"

In [9]:
lst1 = ['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']
lst2 = ['a','e','i','o','u']
def filter_vowels(lst1):
    if lst1 in lst2:
        return True
    else:
        return False


filetered_vowels = filter(filter_vowels,lst1)

print('The filtered vowels are:')
for lst1 in filetered_vowels:
    print(lst1)

The filtered vowels are:
e
i
o
e
o
e
e
i
i
u
e
o
e
a
a
a
i
e
e
i
e
a
i

## Exercise 6:  Write a function to create a list as the square of elements from the given list if the square is greater than 60

lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

In [36]:
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

In [38]:
squr = list(map(lambda x: x**2, lst1))

In [39]:
squr

[25, 36, 49, 64, 81, 100, 144, 196]

## Exercise 7: take the words given below as list and write a function and use reduce to make it a sentence
Inceptz 

provides

the

best

inclass 

trainings 

and

is 

the 

best

In [12]:
x = ['Inceptz', 'provides', 'the', 'best', 'inclass','trainings','and','is','the','best']
sentence = " ".join(x)

In [13]:
sentence

'Inceptz provides the best inclass trainings and is the best'