In [6]:
!pip install pandas
'''installing pandas'''

Requirement already satisfied: pandas in c:\users\elcot\anaconda3\lib\site-packages (1.1.3)

'installing pandas'

Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\elcot\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\elcot\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\elcot\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\elcot\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [8]:
import pandas as pd
'''importing pandas as pd'''

'importing pandas as pd'

In [13]:
data = {
  "Apple": [30, 54, 50, 40],
  "Orange": [45, 40, 45, 35]
}

data = pd.DataFrame(data,index=['jan', 'feb', 'mar', 'apr'])

df = pd.DataFrame(data)

print(df) 

'''sample dataframe'''

     Apple  Orange
jan     30      45
feb     54      40
mar     50      45
apr     40      35

'sample dataframe'

In [19]:
data.loc['jan','Apple']

30

In [15]:
data.iloc[3,1]

35

In [41]:
import pandas as pd

In [42]:
df = pd.read_csv(r"C:\Users\ELCOT\Downloads\Data\purchases.csv")

In [43]:
df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [44]:
!pip install pysqlite3

  WARNING: Legacy build of wheel for 'pysqlite3' created no files.
  Command arguments: 'C:\Users\ELCOT\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\ELCOT\\AppData\\Local\\Temp\\pip-install-0hw1_gs5\\pysqlite3\\setup.py'"'"'; __file__='"'"'C:\\Users\\ELCOT\\AppData\\Local\\Temp\\pip-install-0hw1_gs5\\pysqlite3\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\ELCOT\AppData\Local\Temp\pip-wheel-626qf_8u'
  Command output: [use --verbose to show]

Collecting pysqlite3
  Using cached pysqlite3-0.4.6.tar.gz (40 kB)
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py): started
  Building wheel for pysqlite3 (setup.py): finished with status 'done'
  Running setup.py clean for pysqlite3
Failed to build pysqlite3
Installing collected packages: pysqlite3
    Running setup.py install for pysqlite3: started
    Running setup.py install for pysqlite3: finished with status 'done'
Successfully installed pysqlite3

In [29]:
import sqlite3
conn = sqlite3.connect("D:\Inceptez_batch_16-main\database.db")
df = pd.read_sql_query("SELECT * FROM purchases", conn)
df.set_index('index')

        apples  oranges
index
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [26]:
import pandas as pd

In [56]:
data = {
  "HOLLYWOOD": ['Captain america', 'hulk', 'deadpool'],
  "KOLLYWOOD": ['OK', 'VTV', 'endhiran']
}

df = pd.DataFrame(data)

print(df)

         HOLLYWOOD KOLLYWOOD
0  Captain america        OK
1             hulk       VTV
2         deadpool  endhiran

In [57]:
df.columns= df.columns.str.lower()
df.columns

Index(['hollywood', 'kollywood'], dtype='object')